.navbar {
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 20;
    
    transition: 1s ease;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    padding: 30px 0;

    transition: 1s ease;
}

.navbar__container * {
    color: #fff;

    transition: var(--transition);
}

/* STICKY NAVBAR */
.navbar.sticky {
    margin-top: 5px;
    padding: 0 5px;

    transition: 0.3s ease;
}

.navbar.sticky .navbar__container {
    padding-top: 10px;
    padding-bottom: 10px;

    border: 1px solid #e8140961;
    border-radius: 40px;

    background-color: #000000cd;
}
/*  */

/* NAVBAR CONTENT */
.navbar__logo {
    font-size: 1.75rem;
    letter-spacing: 4px;
    font-weight: 600;
    font-family: var(--ff-en);
    text-transform: uppercase; 
}

.navbar__menu {
    font-size: 1.125rem;

    display: flex;
    gap: 25px;

    overflow: hidden;
}

.navbar__menu li {
    cursor: pointer;
}

.navbar__menu li:hover a {
    color: var(--main-color);
}

.navbar__menu li:hover {
    transform: translateY(-3px);
}

.navbar__download-cv {
    font-size: 1.125rem;
    font-weight: 600;
    font-family: var(--ff-en);

    padding: 8px 25px;

    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 20px;

    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    animation: glowingBorder 3s ease infinite;
}

.navbar__download-cv * {
    color: var(--main-color);
   
    transition: var(--transition);
}
/*  */

/* KEYFRAMES */
@keyframes glowingBorder{
    0% {
            border: 1px solid var(--main-color);
    }
    25% {
            border: 1px solid var(--main-color);
    }
    50% {
        border: 1px solid transparent;
    }
    75% {
        border: 1px solid var(--main-color);
    }
    100% {
        border: 1px solid var(--main-color);
    }
}
/*  */