:root {
  --main-color: #E81509;
  --ff-ua: 'e-Ukraine', 'Poppins', sans-serif;
  --ff-en: 'Poppins', sans-serif;
  --transition: 0.3s ease;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../src/assets/fonts/e-Ukraine-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../src/assets/fonts/e-Ukraine-Medium.otf') format('opentype');
  font-weight: medium;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../src/assets/fonts/e-Ukraine-Bold.otf') format('opentype');
  font-weight: bold;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-X: hidden;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;

  color: #fff;
  font-family: var(--ff-ua);
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

[class*='__container'] {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}